<h1>Welcome!</h1>
<form id="login" action="/api/login" method="post" name="login">
  <fieldset>
    <legend>Log In</legend>
    <p class="field">
      <label for="log_name">User Name: </label>
      <input type="text" id="log_name" name="username" placeholder="username" />
    </p>
    <p class="field">
      <label for="log_pass">Password: </label>
      <input type="password" id="log_pass" name="password" placeholder="password">
    <p class="button">
      <input type="submit">
    </p>
  </form> 
</fieldset>
<form id="register" action="/api/register" method="post" name="register">
  <fieldset>
    <legend>Register</legend>
    <p class="field">
      <label for="reg_name">User Name: </label>
      <input type="text" id="reg_name" name="username" placeholder="username" />
    </p>
    <p class="field">
      <label for="reg_pass">Password: </label>
      <input type="password" id="reg_pass" name="password" placeholder="password">
    </p>
    <p class="field">
      <label for="ver_pass">Password: </label>
      <input type="password" id="ver_pass" name="password" placeholder="password">
    </p>
    <p class="button">
      <input type="submit">
    </p>
  </fieldset>
</form> 
